.basicLayout {
    &__container {
        background-color: white;
        height: 0px;
        min-height:  calc(100% - 60px);
        @media screen and (min-width: 1024px) {
            min-height:  calc(100% - 89px);
        }
    }
}