.candidateCard {
    background-color: rgb(255,255,255,0);
    border: none;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    min-width: 100px;

    & > div {
        height: 262px;
        overflow: hidden;
 
        & img {
            height: 100%;
            position: relative;
        }
    } 
    
    & > img {
        display: block;
        width: 77px;
        height: 61px;
    }
}