.burgerButton {
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 18px 16px;
    border: none;
    background-color:  #0D2562;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > div {
        width: 18px;
        height: 2px;
        background-color: white;
    } 
}