.listButton {
    display: flex;
    position: relative;

    & > div:first-of-type {
        width: 1px;
        height: 84px;
        background-color: #495981;
        position: absolute;
        top: 10px;
        left: 10px;
        @media screen and (min-width: 1024px) {
            height: 135px;
            top: 16px;
            left: 78px;
        }
    }

    & > div:last-of-type {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__button {
        display: flex;
        @media screen and (min-width: 1024px) {
            flex-direction: row-reverse;
        }

        & + & {
            margin-top: 20px; 
            @media screen and (min-width: 1024px) {
                margin-top: 36px; 
            }
        }

        & > button {
            color: #495981;
            font-size: 12px;
            font-weight: 400;
            border: none;
            background-color: rgb(0,0,0,0);
            @media screen and (min-width: 1024px) {
                width: 63px;
                height: 32px;
                font-size: 18px;
                font-weight: 700;
                color: white;
                background-color: #0D2562;
                border: 1px solid #0D2562;
                border-radius: 100px;
                box-shadow: -2px 3px 2px 0px rgba(0, 0, 0, 0.25);
                &:hover {
                    color: #0D2562;
                    background-color: white;
                }
            }
        }
    }

    &__point {
        width: 21px;
        height: 21px;
        color: #495981;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        @media screen and (min-width: 1024px) {
            width: 32px;
            height: 32px;
            line-height: 31px;
        }
    }
}